/* /////////////////////////////////////////////////////////////////////////////////////////////////

SET APP STYLESHEET - FULL STYLES HERE
DARK THEME - MOILAPPS

# BY: Haryanto
# PROJECT MADE WITH: Qt Designer
# V: 4.1.0
#
# There are limitations on Qt licenses if you want to use your products
# commercially, I recommend reading them on the official website:
# https://doc.qt.io/qtforpython/licenses.html

///////////////////////////////////////////////////////////////////////////////////////////////// */
QWidget{
    color: rgb(221, 221, 221);
    font: 10pt "Segoe UI";
    border:none;
}

#label_plugin_name{
    color: rgb(255, 255, 255);
    font: 13pt "Segoe UI";
}

#statusBar{
    background-color: rgb(44, 49, 58);
    border:none;
}

QToolTip {
    font: 9pt "Segoe UI";
	color: #ffffff;
	background-color: rgba(33, 37, 43, 180);
	background-image: none;
	background-position: left center;
    background-repeat: no-repeat;
	border: none;
	border-left: 5px solid rgb(255, 121, 198);
	text-align: left;
	padding-left: 8px;
	margin: 0px;
}

.QDoubleSpinBox  {
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

.QSpinBox  {
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#frame_main {
    background-color: rgb(44, 49, 58);
    border:none;
}

#scrollArea_5 {
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: #17202b;
}

/* //////////////////////anypoint /////////////////*/
#frame_anypoint_navigator .QPushButton {
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#frame_anypoint_navigator .QPushButton:hover {
    color: rgb(0,0,0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(52, 59, 72);
}

#frame_anypoint_navigator .QPushButton:pressed {
    background-color: rgb(35, 40, 49);
    border: 2px solid rgb(43, 50, 61);
    color: rgb(255,255,255);
}

/* //////////////////////////////// Logo area //////////////////////////////////// */
#frame_logo{
    background-color: rgb(33, 37, 43);
}

#label_logo{
    border-radius:5px;
}

#titleLeftApp {
    color:rgb(221,221,221);
    font: 14pt "Segoe UI" Bold;
}

#titleLeftDescription {
    font: 7pt "Segoe UI";
    color: rgb(189, 140, 200);
}



/* //////////////////////////////// Top Button Area /////////////////////////////// */
#doubleSpinBox_rotate{
    font: 10pt "Segoe UI";
}

#doubleSpinBox_zooming{
    font: 10pt "Segoe UI";
}

#listWidget_saved_image {
    background-color: #17202b;
}

#frame_plugin {
    background-color: #17202b;
}

#frame_plugin .QLabel {
        background-color: #17202b; /* white background */
        color: rgb(255,255,255);/* black text */
        font-size: 12px; /* font size of 16px */
        border:2px solid rgb(60,50,50);
        padding: 5px; /* 5px padding around text */
        border-radius: 3px; /* 5px rounded corners */
    }

#pushButton{
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#pushButton:hover{
    background-color: rgb(52, 59, 72);
    border: 2px solid rgb(82, 94, 88);
}

#pushButton:pressed{
    background-color: rgb(35, 40, 49);
    border: 2px solid rgb(43, 50, 61);
    color: rgb(255,255,255);
}

#pushButton_close_plugin_store{
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#pushButton_close_plugin_store:hover{
    background-color: rgb(52, 59, 72);
    border: 2px solid rgb(82, 94, 88);
}

#pushButton_close_plugin_store:pressed{
    background-color: rgb(35, 40, 49);
    border: 2px solid rgb(43, 50, 61);
    color: rgb(255,255,255);
}

#frame_top_button{
    background-color: rgb(33, 37, 43);
}

#label_degree {
    border-radius: 3px;
    border: 2px solid rgb(52, 59, 72);
}

#btn_open_media {
    color: rgb(0, 0, 0);
    font: 11pt "Segoe UI";
}

#label_degree {
    color: rgb(255, 255, 255);
    font: 11pt "Segoe UI";
}

#zoom_combo_box {
    color: rgb(255, 255, 255);
    font: 11pt "Segoe UI";
}

#frame_top_button .QPushButton {
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#frame_top_button .QPushButton:hover {
    background-color: rgb(52, 59, 72);
    border: 2px solid rgb(82, 94, 88);
}

#frame_top_button .QPushButton:pressed {
    background-color: rgb(35, 40, 49);
    border: 2px solid rgb(43, 50, 61);
    color: rgb(255,255,255);
}

QComboBox{
	background-color: rgb(27, 29, 35);
	border-radius: 5px;
	border: 2px solid rgb(52, 59, 72);
	padding: 5px;
	padding-left: 10px;
}
QComboBox:hover{
	border: 2px solid rgb(82, 94, 88);
}
QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 25px;
	border-left-width: 3px;
	border-left-color: rgba(39, 44, 54, 150);
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-image: url(icons:light/cil-arrow-bottom.png);
	background-position: center;
	background-repeat: no-reperat;
 }
QComboBox QAbstractItemView {
	color: rgb(255, 121, 198);
	background-color: rgb(33, 37, 43);
	padding: 10px;
	selection-background-color: rgb(39, 44, 54);
}


/* //////////////////////////////// Left Button Area //////////////////////////////////// */
#frame_additional_left .QTextBrowser{
    color: #969ca0;
    font: 8pt "Segoe UI" Bold;
    border: 2px solid #343b48;
    border-radius: 5px;
    background-color: rgb(33, 37, 43);
}

#label_active_branch {
    color: #969ca0;
    font: 8pt "Segoe UI" Bold;
    border: 2px solid #343b48;
    border-radius: 5px;
    background-color: rgb(33, 37, 43);
}

#label_3 {
    color: #969ca0;
    font: 8pt "Segoe UI" Bold;
    border: 2px solid #343b48;
    border-radius: 5px;
    background-color: rgb(33, 37, 43);
}

#pushButton_update{
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#pushButton_update:hover{
    background-color: rgb(52, 59, 72);
    border: 2px solid rgb(82, 94, 88);
}

#pushButton_update:pressed{
    background-color: rgb(35, 40, 49);
    border: 2px solid rgb(43, 50, 61);
    color: rgb(255,255,255);
}

#btn_change_branch{
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#btn_change_branch:hover{
    background-color: rgb(52, 59, 72);
    border: 2px solid rgb(82, 94, 88);
}

#btn_change_branch:pressed{
    background-color: rgb(35, 40, 49);
    border: 2px solid rgb(43, 50, 61);
    color: rgb(255,255,255);
}

#btn_refresh_github{
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#btn_refresh_github:hover{
    background-color: rgb(52, 59, 72);
    border: 2px solid rgb(82, 94, 88);
}

#btn_refresh_github:pressed{
    background-color: rgb(35, 40, 49);
    border: 2px solid rgb(43, 50, 61);
    color: rgb(255,255,255);
}

#frame_button_left{
    background-color: rgb(33, 37, 43);
}

#frame_button_left .QPushButton {
    background-position: left center;
    background-repeat: no-repeat;
    border: none;
    border-left: 25px solid transparent;
    background-color: transparent;
    text-align: left;
    padding-left:50px;
}

#frame_button_left .QPushButton:hover {
    background-color: rgb(255, 255, 255);

}
#frame_button_left .QPushButton:pressed {
    background-color: rgb(40, 44, 52);
    color: rgb(255, 255, 255);
}

#frame_toggle{
background-color: rgb(37, 41, 48);
}

#btn_togle_menu {
    background-position: left center;
    background-repeat: no-repeat;
    border: none;
    border-left: 25px solid transparent;
    background-color: rgb(230, 230, 230);
    text-align: left;
    padding-left:50px;
    color: rgb(113, 126, 149);
    background-image: url(icons:light/menu.png);
}
#btn_togle_menu:hover {
    background-color: rgb(255, 255, 255);
    background-image: url(icons:menu.svg);
}

#btn_togle_menu:pressed {
    background-color: rgb(40, 44, 52);
}

#btn_fisheye_view {
    background-image: url(icons:light/fisheye.png);
}

#btn_fisheye_view:hover {
    background-image: url(icons:fisheye.png);
}

#btn_anypoint_view {
    background-image: url(icons:light/any_point.png);
}

#btn_anypoint_view:hover {
    background-image: url(icons:any_point.png);
}

#btn_panorama_view {
    background-image: url(icons:light/panorama_.png);
}

#btn_panorama_view:hover {
    background-image: url(icons:panorama_.png);
}

#btn_setting {
    background-image: url(icons:light/settings.png);
}

#btn_help{
    background-image: url(icons:light/help-circle.png);
}

#btn_help:hover{
    background-image: url(icons:help-circle.svg);
}

#btn_form_params{
    background-image: url(icons:light/text.png);
}

#btn_form_params:hover{
    background-image: url(icons:text.svg);
}

#btn_clear_ui{
    background-image: url(icons:light/minus-circle.png);
}

#btn_check_update{
    background-image: url(icons:light/update.png);
}

#btn_read_the_docs{
    background-image: url(icons:light/read_docs.png);
}

#btn_clear_ui:hover{
    background-image: url(icons:minus-circle.svg);
}

#btn_plugin_apps{
    background-image: url(icons:light/plugins.png);
}

#btn_plugin_apps:hover{
    background-image: url(icons:plugins.png);
}

#btn_plugin_apps:checked{
    background-color: rgb(44, 49, 58);
}
/* ////////////////////////////// Video Controller Area ////////////////////////////// */
#frame_video_controller .QPushButton:hover {
    background-color: rgb(60, 62, 80);
    border: 2px solid rgb(82, 94, 88);
    border-radius: 3px;
}

#frame_video_controller .QPushButton {
    color: rgb(0,0,0);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#frame_video_controller .QPushButton:pressed {
    background-color: rgb(40, 44, 52);
    color: rgb(255, 255, 255);
}

#frame_video_controller{
    background-color: rgb(33, 37, 43);
}

#frame_video_controller .QLabel {
    color: rgb(221,221,221);
}


/* ////////////////////////////// Additional Right Area ////////////////////////////// */
#frame_additional_right{
    background-color: rgb(33, 37, 43);
}

#frame_extra_right_button .QPushButton {
    background-position: left center;
    background-repeat: no-repeat;
    border: none;
    background-color: rgb(52, 59, 72);
    text-align: left;
    border-radius:25px;
    padding-left:12px;
}

#frame_extra_right_button .QPushButton:hover {
    background-color: rgb(255, 255, 255);

}

#frame_extra_right_button .QPushButton:pressed {
    background-color: rgb(40, 44, 52);
    color: rgb(255, 255, 255);
}


/* ////////////////////////////// Additional Left Area ////////////////////////////// */
#frame_additional_left{
    background-color: rgb(44, 49, 58);
}

#frame_content_additional_left{
    background-color: rgb(33, 37, 43);
}

#scrollArea_3{
    background-color: #17202b;
}

#scrollArea_4{
    background-color: rgb(33, 37, 43);
}

#frame_extra_left_TopBg{
    background-color: rgb(33, 37, 43);
}

#extra_left_content{
    background-color: rgb(44, 49, 58);
}

#extra_left_close_button{
    color: rgb(221,221,221);
    border-radius: 3px;
    padding-left:8px;
    padding-right:8px;
    background-color: rgb(52, 59, 72);
}

#extra_left_close_button:hover{
    background-color: rgb(52, 59, 72);
    border: 2px solid rgb(82, 94, 88);
}

#extra_left_close_button:pressed{
    background-color: rgb(35, 40, 49);
    border: 2px solid rgb(43, 50, 61);
    color: rgb(255,255,255);
}

#label_title_additional_left{font: 12pt "Segoe UI" Bold; }


/* ////////////////////////////// Label in Source Area ////////////////////////////// */
#label_title_original{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border: 2px solid rgb(24, 30, 35);
    background-color:rgb(33, 37, 43);
    font: 11pt "Segoe UI";
}

#label_title_original_3 {
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border: 2px solid rgb(24, 30, 35);
    background-color:rgb(33, 37, 43);
    font: 11pt "Segoe UI";
}

#label_tittle_image_saved{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border: 2px solid rgb(24, 30, 35);
    background-color:rgb(33, 37, 43);
    font: 11pt "Segoe UI";
}

#label_title_recenter{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border: 2px solid rgb(24, 30, 35);
    background-color: rgb(33, 37, 43);
    font: 11pt "Segoe UI";
}

#frame_image_original{
    background-color: #17202b;
    border-bottom-right-radius:6px;
}

#frame_image_recenter{
    background-color: rgb(0, 0, 0);
}


/* ////////////////////////////// Scroll Content Area ////////////////////////////// */
#scrollArea {
    background-color: #17202b;
}

#scrollArea_2 {
    background-color: rgb(33, 37, 43);
}

QScrollBar:horizontal {
    border: 1px solid rgb(80, 80, 80);
    background: rgb(80, 80, 80);
    height: 12px;
    margin: 0px 12px 0px 12px;
    border-radius: 0px;
}
QScrollBar::handle:horizontal {
    background: #17202b;;
    min-width: 25px;
    border-radius: 0px
}

QScrollBar::add-line:horizontal {
    border: none;
    background: rgb(55, 63, 77);
    width: 12px;
    background-image: url(icons:light/chevron-right-12.png);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: none;
    background: rgb(55, 63, 77);
    width: 12px;
    background-image: url(icons:light/chevron-left-12.png);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
{
     background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
     background: none;
}
QScrollBar:vertical {
    border: 1px solid rgb(80, 80, 80);
    background: rgb(80, 80, 80);
    width: 12px;
    margin: 12px 0px 12px 0;
    border-radius: 0px;
}
QScrollBar::handle:vertical {
    background: #17202b;
    min-height: 25px;
    border-radius: 0px
 }
QScrollBar::add-line:vertical {
    border: none;
    background: rgb(55, 63, 77);
    height: 12px;
    background-image: url(icons:light/cil-arrow-bottom-12.png);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
 }

QScrollBar::sub-line:vertical {
    border: none;
    background: rgb(55, 63, 77);
    height: 12px;
    background-image: url(icons:light/cil-arrow-top-12.png);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: none;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}


/* ////////////////////////////// QSpinBox Area ////////////////////////////// */
QSpinBox{
    background-color: rgb(27, 29, 35);
    border-radius: 3px;
    border: 2px solid rgb(52, 59, 72);
    padding: 5px;
    padding-left:7px;
    font: 8pt "Segoe UI";
}

QSpinBox::hover{
    border: 2px solid rgb(82, 94, 88);
}

QSpinBox::up-button {
    subcontrol-origin: padding;
    subcontrol-position: top right;

    width: 13px;
    height: 10px;
    background-image: url(icons:light/cil-arrow-top-12.png);
    border-left-width: 1px;
	border-left-color: rgb(52, 59, 72);
	border-left-style: solid;
}

QSpinBox::down-button {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    width: 13px;
    height: 10px;
    background-image: url(icons:light/cil-arrow-bottom-12.png);
    border-left-width: 1px;
	border-left-color: rgb(52, 59, 72);
	border-left-style: solid;
}

QDoubleSpinBox{
    background-color: rgb(27, 29, 35);
    border-radius: 3px;
    border: 2px solid rgb(52, 59, 72);
    padding: 5px;
    padding-left:2px;
    font: 8pt "Segoe UI";
}

QDoubleSpinBox::hover{
    border: 2px solid rgb(82, 94, 88);
}

QDoubleSpinBox::up-button {
    subcontrol-origin: padding;
    subcontrol-position: top right;

    width: 13px;
    height: 10px;
    background-image: url(icons:light/cil-arrow-top-12.png);
    border-left-width: 1px;
	border-left-color: rgb(52, 59, 72);
	border-left-style: solid;
}

QDoubleSpinBox::down-button {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    width: 13px;
    height: 10px;
    background-image: url(icons:light/cil-arrow-bottom-12.png);

    border-left-width: 1px;
	border-left-color: rgb(52, 59, 72);
	border-left-style: solid;
}

/* ////////////////////////////// QCheckBox Area ////////////////////////////// */
QCheckBox::indicator {
    border: 2px solid rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgb(180, 180, 180);
}

QCheckBox::indicator:hover {
    border: 2px solid rgb(180, 180, 180);
    background: rgb(255, 255, 255);
}

QCheckBox::indicator:checked {
    background: 2px solid rgb(180, 180, 180);
    border: 2px solid rgb(255, 255, 255);
    background-image: url(icons:check-12.svg);
}


/* ////////////////////////////// QSlider Area ////////////////////////////// */
QSlider::groove:horizontal {
    border-radius: 0px;
    height: 10px;
	margin: 0px;
	background-color: rgb(52, 59, 72);
}

QSlider::groove:horizontal:hover {
	background-color: rgb(55, 62, 76);
}

QSlider::handle:horizontal {
    background-color: rgb(189, 147, 249);
    border: none;
    height: 10px;
    width: 15px;
    margin: 0px;
	border-radius: 0px;
}

QSlider::handle:horizontal:hover {
    background-color: rgb(195, 155, 255);
}

QSlider::handle:horizontal:pressed {
    background-color: rgb(255, 121, 198);
}


/* ###################### radio button #############33 */
QRadioButton::indicator {
    border: 2px solid rgb(52, 59, 72);
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background: rgb(44, 49, 60);
}

QRadioButton::indicator:hover {
    border: 2px solid rgb(58, 66, 81);
}

QRadioButton::indicator:checked {
    background: 2px solid rgb(52, 59, 72);
    border: 2px solid rgb(52, 59, 72);
    background-image: url(icons:light/cil-check-alt-12.png);
}














